body
  margin 0
  padding 0
  height: 100vh
  background: #2
  color: #d

#app
  height 100%
  display flex
  justify-content center
  align-items center

.kanji
  margin 0
  padding 0
  font: 3vw/1 "TypoPRO Iosevka Term", monospace
  text-align center
  #kanjiNumber
    font: bold 32vw/1 "TypoPRO Iosevka Term", monospace